/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ************************************************************ */
/* ***** Mis estilos ****************************************** */

:root {
	--main-color: lightblue;
	--color: black;
}

* {
	/* border: 1px solid black; */
	box-sizing: border-box;
	color: var(--color);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* font-weight: bold; */
}
body {
	margin: 0;
	height: 99.5vh;
	overflow: auto;
}
button {
	margin: 0 10px;
	padding: 5px;
	border: 2px solid transparent;
	border-radius: 7px;
	background-color: transparent;
	display: inline-block;
	transition: 0.1s;
}
button:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 0.7);
	cursor: pointer;
	filter: brightness(1.2) drop-shadow(0 0 2px black);
}
button:active {
	background-color: white;
}
ul {
	list-style-type: none;
	padding: 0;
}
a {
	padding: 0;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
.icon {
	display: inline;
	width: 32px;
	height: 32px;
}
.icon2 {
	display: inline;
	width: 24px;
	height: 24px;
}
input,
select,
textarea {
	border: 1px solid darkslategray;
	border-radius: 5px;
}
input:focus,
select:focus,
textarea:focus {
	outline: 2px solid red;
	border-color: transparent;
}
/* Quita las flechas para navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Quita las flechas para Firefox */
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/* Estilo para la barra de desplazamiento en navegadores WebKit */
::-webkit-scrollbar {
	width: 10px; /* Ancho de la barra de desplazamiento */
	height: 10px; /* Altura de la barra de desplazamiento horizontal */
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
	background: transparent; /* Color de fondo de la pista */
	/*border-radius: 6px;*/ /* Bordes redondeados */
}

/* Estilo para el controlador de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
	background-color: cornflowerblue; /* Color del controlador */
	border-radius: 6px; /* Bordes redondeados */
}

/* Estilo para el controlador de la barra de desplazamiento al pasar el cursor */
::-webkit-scrollbar-thumb:hover {
	background-color: royalblue; /* Color del controlador al pasar el cursor */
	cursor: default;
}
::-webkit-scrollbar-corner {
	background: var(--main-color); /* Este es el color de la esquina */
}
